- name: Configure Web Servers
  hosts: nodes
  become: yes

  vars:
    package_name: nginx
    username: devops

  tasks:

    - name: Install nginx
      yum:
        name: "{{ package_name }}"
        state: present

    - name: Start nginx service
      service:
        name: nginx
        state: started
        enabled: yes

  handlers:

    - name: Restart nginx
      service:
        name: nginx
        state: restarted
