- name: Configure Web Servers
  hosts: web
  become: yes

  tasks:
    - name: Ping the web servers
      ansible.builtin.ping:

    - name: Install nginx
      ansible.builtin.package:
        name: nginx
        state: present

    - name: Start nginx service
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: yes